{
  "presets":[
    ["@babel/preset-env"], 
    ["@babel/preset-react"],
    ["@babel/preset-typescript"]
  ],
  "plugins": [
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    ["@babel/plugin-proposal-class-properties", { "loose": true }],
    // 解决编译中产生的重复的工具函数
    ["@babel/plugin-transform-runtime", {
      "corejs": 3
    }]
  ]
}